#!/usr/bin/make -f

override_dh_auto_install:
	dh_auto_install

	mkdir -p $(CURDIR)/debian/homegear/etc/homegear/devices/5
	cp $(CURDIR)/misc/Device\ Description\ Files/* $(CURDIR)/debian/homegear/etc/homegear/devices/5
	chmod 755 $(CURDIR)/debian/homegear/etc/homegear/devices/5
	chmod 644 $(CURDIR)/debian/homegear/etc/homegear/devices/5/*

override_dh_strip:
	dh_strip --dbg-package=homegear-philipshue

%:
	dh $@ --parallel
