#!/usr/bin/make -f

override_dh_auto_install:
	dh_auto_install

	mkdir -p $(CURDIR)/debian/homegear-philipshue/etc/homegear/families
	cp -R $(CURDIR)/misc/Config\ Directory/* $(CURDIR)/debian/homegear-philipshue/etc/homegear/families
	chmod 755 $(CURDIR)/debian/homegear-philipshue/etc/homegear/families
	chmod 644 $(CURDIR)/debian/homegear-philipshue/etc/homegear/families/*

	mkdir -p $(CURDIR)/debian/homegear-philipshue/etc/homegear/devices/5
	cp -R $(CURDIR)/misc/Device\ Description\ Files/* $(CURDIR)/debian/homegear-philipshue/etc/homegear/devices/5
	chmod 755 $(CURDIR)/debian/homegear-philipshue/etc/homegear/devices/5
	chmod 644 $(CURDIR)/debian/homegear-philipshue/etc/homegear/devices/5/*

	mkdir -p $(CURDIR)/debian/homegear-philipshue/var/lib/homegear/admin-ui/translations/modules/philipshue
	cp -R $(CURDIR)/misc/UI\ Translations/* $(CURDIR)/debian/homegear-philipshue/var/lib/homegear/admin-ui/translations/modules/philipshue
	chown -R root:root $(CURDIR)/debian/homegear-philipshue/var/lib/homegear/admin-ui/translations/modules/philipshue
	chmod -R 555 $(CURDIR)/debian/homegear-philipshue/var/lib/homegear/admin-ui/translations/modules/philipshue

override_dh_strip:
	dh_strip --dbg-package=homegear-philipshue

%:
	dh $@ --parallel
